@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* common part style */
.body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* heading style */
h1{
    color: #8D3DAF;
}

/* section left image style */
.image-height{
    height: 815px;
}

/* section right form style */
.form{
    background-color: #F8F8F8;
    height: 815px;
    width: 542px;
    padding: 25px;
}

label {
    display: inline-block;
    width: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    margin-right: 1rem;
}

.inputs{
    border: none;
    background-color: #DCDCDC;;
    border-radius: 2px;
    width: 200px;
}

button{
    background-color: #5a60cfbe;
    color: white;
    font-weight: 600;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: none;
}