/* common part style */
.body{
    margin: 0px;
    padding: 0px;
}

h1{
    color: #8D3DAF;
}

.image-height{
    height: 815px;
}

.form{
    background-color: #e7dede;
    height: 815px;
    width: 542px;
}